@model IEnumerable<MssmConsent.Models.ViewModel.ConsentViewModel>
@*@model IEnumerable<MssmConsent.Models.Consent>*@

@{
    ViewData["Title"] = "Index";
}
<br />
<br />

<h3><a asp-action="Create">Create New Consent</a></h3>

<br />
<br />


<table class="table table-striped" >
    @*<caption style="caption-side:top">List of Consents </caption>*@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
